config.json
.vscode
.vscodeignore
__pycache__
.DS_STORE
.venv
venv
config.json
contacts.vcf
notes.md
test.py
autoresponder.config.json
groupchat.theboys.config.json
groupchat.config.json
build
dist
dist_bot
clean.sh
build
dist
dist_bot
